# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.EnTTForUnrealProject.iml
# Datasource local storage ignored files
/../../../../../../../:\Work\Gravinator Games\EnTT-for-Unreal\.idea\.idea.EnTTForUnrealProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
